extends layout 

block content 
    form(action="/become-admin" method="POST") 
        div.form-group
        label(for="admin") Would you like to be an admin?
        input#admin(type="checkbox" 
                        name="admin" 
                        checked=(user===undefined ? 
                                    false : user.membership==="Admin" ? true : false))

        button(type="submit") Submit
        