extends layout 

block links 
    a(href="/") Home

block content 
    form(action="/become-admin" method="POST") 
        .sign-up-form
            .admin Would you like to be an admin?

            .buttons 
                button(type="submit") Yes
                a(href="/") No