extends layout

block content
  h1= title
  p Welcome to #{title}
  if !user
    a(href="/log-in") Log in 
    a(href="/sign-up") Sign up
  else 
    if !user.member
      a(href="/join-club") Join Club 
    else 
      p You're a member!
    p= user.email 
    a(href="/log-out") Log Out  

