doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .header 
      h1= title 
      .links 
        block links 

    .main 
      block content
